seed_everything: true
trainer:
  accelerator: {{ accelerator }}
  strategy:
    class_path: lightning.pytorch.strategies.DDPStrategy
    init_args:
      broadcast_buffers: false
  max_epochs: 2
  default_root_dir: ./outputs
model:
  model:
    class_path: cellarium.ml.models.HVGSeuratV3
    init_args:
      n_top_genes: {{ n_top_genes }}
      use_batch_key: {{ 'true' if batch_index_n else 'false' }}
      flavor: {{ flavor }}
      output_path: ./outputs/hvg_genes.csv
data:
  dadc:
    class_path: cellarium.ml.data.DistributedAnnDataCollection
    init_args:
      filenames: {{ dataset_glob }}
      shard_size: {{ shard_size }}
      last_shard_size: {{ last_shard_size if last_shard_size is not none else 'null' }}
      max_cache_size: 2
      indices_strict: true
{% if batch_index_n %}
      obs_columns_to_validate:
        - {{ batch_index_n }}
{% else %}
      obs_columns_to_validate: []
{% endif %}
  batch_keys:
    x_ng:
      attr: X
      convert_fn: cellarium.ml.utilities.data.densify
    var_names_g:
{% if var_names_key %}
      attr: var
      key: {{ var_names_key }}
{% else %}
      attr: var_names
{% endif %}
{% if batch_index_n %}
    batch_index_n:
      attr: obs
      key: {{ batch_index_n }}
      convert_fn: cellarium.ml.utilities.data.categories_to_codes
{% endif %}
  batch_size: {{ [batch_size, shard_size] | min }}
  iteration_strategy: cache_efficient
  num_workers: {{ num_workers }}
  prefetch_factor: {{ prefetch_factor if prefetch_factor is not none else 'null' }}
  shuffle: true
ckpt_path: null