seed_everything: true
trainer:
  accelerator: {{ accelerator }}
  strategy:
    class_path: lightning.pytorch.strategies.DDPStrategy
    dict_kwargs:
      broadcast_buffers: false
  max_epochs: 1
  logger: null
  default_root_dir: ./outputs
  callbacks:
    - class_path: lightning.pytorch.callbacks.ModelCheckpoint
      init_args:
        dirpath: ./outputs/checkpoints/
        save_last: true
model:
  cpu_transforms:
    - class_path: cellarium.ml.transforms.Filter
      init_args:
        filter_list:
          !FileLoader
          file_path: {{ hvg_csv }}
          loader_fn: pandas.read_csv
          attr: "gene"
          convert_fn: pandas.Series.to_list
        ordering: true
  transforms:
    - cellarium.ml.transforms.Densify
{% if use_pflogpf %}
    - cellarium.ml.transforms.PFlogPF
{% else %}
    - cellarium.ml.transforms.NormalizeTotal
    - cellarium.ml.transforms.Log1p
{% endif %}
{% if zscore_genes %}
    - class_path: cellarium.ml.transforms.ZScore
      init_args:
        !FileMultiLoader
        file_path: {{ onepass_csv }}
        loader_fn: pandas.read_csv
        fields:
          mean_g:
            attr: mean_g.values
            convert_fn: torch.FloatTensor
          std_g:
            attr: std_g.values
            convert_fn: torch.FloatTensor
          var_names_g:
            attr: var_names_g
            convert_fn: pandas.Series.to_numpy
{% endif %}
  model:
    class_path: cellarium.ml.models.IncrementalPCA
    init_args:
      var_names_g: null
      n_components: {{ n_components }}
data:
  dadc:
    class_path: cellarium.ml.data.DistributedAnnDataCollection
    init_args:
      filenames:
{% for f in filenames %}
        - {{ f }}
{% endfor %}
      limits:
{% for l in limits %}
        - {{ l }}
{% endfor %}
      max_cache_size: {{ max_cache_size }}
      obs_columns_to_validate: []
  batch_keys:
    x_ng:
      attr: X
      convert_fn: cellarium.ml.utilities.data.keep_sparse
    var_names_g:
{% if var_names_key %}
      attr: var
      key: {{ var_names_key }}
{% else %}
      attr: var_names
{% endif %}
  batch_size: {{ batch_size }}
  num_workers: {{ num_workers }}
  prefetch_factor: {{ prefetch_factor if prefetch_factor is not none else 'null' }}
  persistent_workers: false
ckpt_path: null